@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

header, footer {
  background-color: var(--foreground);
  color: var(--background);
}

@media (max-width: 640px) {
  header, footer {
    flex-direction: column;
    text-align: center;
  }
}
